DEBUG=1
ALLOWED_HOSTS=.dymaxionlabs.com
SECRET_KEY=foobar

DB_HOST=localhost
DB_NAME=terra
DB_USER=root
DB_PASSWORD=
DB_PORT=

EMAIL_BACKEND=
MAILGUN_SENDER_DOMAIN=
MAILGUN_API_KEY=
DEFAULT_FROM_EMAIL=terra@dymaxionlabs.com

WEBCLIENT_URL=http://localhost:3000

DEFAULT_FILE_STORAGE=
TILES_BUCKET=dym-tiles
FILES_BUCKET=dym-files

RQ_REDIS_URL=redis://localhost:6379/0
RQ_TIMEOUT=360

SENTRY_DNS=
SENTRY_ENVIRONMENT=Development

MERCADOPAGO_SECRETS=.mercadopago.json

MC_API=
MC_USER=
