DEBUG=1
ALLOWED_HOSTS=.dymaxionlabs.com
SECRET_KEY=foobar
DB_NAME=terra
DB_USER=root
DB_PASSWORD=
DB_PORT=
MAILGUN_SENDER_DOMAIN=
MAILGUN_API_KEY=
DEFAULT_FROM_EMAIL=terra@dymaxionlabs.com
WEBCLIENT_URL=localhost:3000
TILES_BUCKET=dym-tiles
